---
import { getCollection } from 'astro:content'
import BaseLayout from '../layouts/BaseLayout.astro'
import BlogPost from '@components/BlogPost.astro'
const pageTitle = 'My Astro Learning Blog'

const allPosts = await getCollection('posts', ({ data }) => data.draft !== true)
const getFormatAuth = (authorId: string) => {
    return authorId
        .split('-')
        .map((part) => part.charAt(0).toUpperCase() + part.slice(1))
        .join(' ')
}
---

<BaseLayout pageTitle={pageTitle}>
    <p>This is where I will post about my journey learning Astro.</p>
    <ul>
        {
            allPosts.map((post) => (
                <li class="blog-links">
                    <BlogPost
                        as="a"
                        href={'/posts/' + post.slug}
                        title={post.data.title}
                    >
                        {post.data.title}-
                        <em>{getFormatAuth(post.data.author.id)}</em>-
                        {post.data.pubDate.toDateString()}
                    </BlogPost>
                </li>
            ))
        }
    </ul>
    <script>
        import '../scripts/menu.ts'
    </script>
</BaseLayout>
