---
import { getEntry } from 'astro:content'
import BaseLayout from './BaseLayout.astro'
import { Image } from 'astro:assets'
import type { PostSchemaType } from '../schemas'

const { frontmatter } = Astro.props

type Props = {
    frontmatter: PostSchemaType
}
const author = await getEntry(frontmatter.author)
---

const {frontmatter} = Astro.props

<BaseLayout pageTitle={frontmatter.title}>
    <p>{frontmatter.pubDate.toDateString()}</p>
    <p><em>{frontmatter.description}</em></p>
    <p>Written by: {author.data.name}</p>
    {
        frontmatter.image && (
            <Image
                width={frontmatter.image.width || 800}
                height={frontmatter.image.height || 300}
                src={frontmatter.image.url}
                alt={frontmatter.image.alt}
                loading="lazy"
                decoding="async"
            />
        )
    }
    <slot />
</BaseLayout>
